 
body {
  font-family: 'Rubik', 'Lato', 'Raleway', 'Open Sans', 'Roboto', 'Helvetica Neue', sans-serif !important;
}

.active {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .dropdown-menu {
    margin-top: 0 !important;
  }
}

@media (min-width: 769px) {
  .dropdown-menu {
    margin-top: -44px !important;
  }
}

.testimonial{
  background-image: url("https://source.unsplash.com/random/1920x1080");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(40, 21, 110, 0.91);
}

.footer-newsletter {
  padding: 50px 0;
  background: #db127a;
  /* border-bottom: solid 2px #fff; */
}
.footer-newsletter form {
  /* margin-top: 30px; */
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
}
.footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  margin: 3px;
  background: #27146e;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}
.footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 100px);
}
.footer{
  background-color:#27146e !important;
}
.footer .footer-bottom {
  background-color: #db1e78 !important;
}
ul.list-unstyled li a:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .laptop-margin {
    margin-top: 155px;
  }
}
@media (max-width: 712px) {
  .laptop-margin {
    margin-top: 137px;
  }
}
.bg-image {
  background-image: url("./assets/blogs/blog2.jpg") !important;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
}

.bg-image::after {
  content: "";
  background-color: rgba(41, 22, 110, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

